{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
    <h1>Event index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Date</th>
                <th>Startime</th>
                <th>Endtime</th>
                <th>Place</th>
                <th>Picture1</th>
                <th>Picture2</th>
                <th>Picture3</th>
                <th>Picture4</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.title }}</td>
                <td>{{ event.date ? event.date|date('Y-m-d') : '' }}</td>
                <td>{{ event.startime ? event.startime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.endtime ? event.endtime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.place }}</td>
                <td>{{ event.picture1 }}</td>
                <td>{{ event.picture2 }}</td>
                <td>{{ event.picture3 }}</td>
                <td>{{ event.picture4 }}</td>
                <td>{{ event.description }}</td>
                <td>
                    <a href="{{ path('event_show', {'id': event.id}) }}">show</a>
                    <a href="{{ path('event_edit', {'id': event.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('event_new') }}">Create new</a>
{% endblock %}
