{% extends 'base.html.twig' %}

{% block title %}Link{% endblock %}

{% block body %}
    <h1>Link</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ link.id }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ link.url }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ link.picture }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ link.title }}</td>
            </tr>
            <tr>
                <th>Target</th>
                <td>{{ link.target }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ link.date ? link.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ link.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('link_index') }}">back to list</a>

    <a href="{{ path('link_edit', {'id': link.id}) }}">edit</a>

    {{ include('link/_delete_form.html.twig') }}
{% endblock %}
