{% extends 'base.html.twig' %}

{% block title %}Kid index{% endblock %}

{% block body %}
    <h1>Kid index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for kid in kids %}
            <tr>
                <td>{{ kid.id }}</td>
                <td>{{ kid.name }}</td>
                <td>{{ kid.surname }}</td>
                <td>
                    <a href="{{ path('kid_show', {'id': kid.id}) }}">show</a>
                    <a href="{{ path('kid_edit', {'id': kid.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('kid_new') }}">Create new</a>
{% endblock %}
