{% extends 'base.html.twig' %}

{% block title %}Kid{% endblock %}

{% block body %}
    <h1>Kid</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ kid.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ kid.name }}</td>
            </tr>
            <tr>
                <th>Surname</th>
                <td>{{ kid.surname }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('kid_index') }}">back to list</a>

    <a href="{{ path('kid_edit', {'id': kid.id}) }}">edit</a>

    {{ include('kid/_delete_form.html.twig') }}
{% endblock %}
